@font-face {
  font-family: 'BerkshireSwash-Regular';
  src: url('./fonts/BerkshireSwash-Regular.ttf') format('truetype');
}

.container {
  position: relative;
  width: 100%;
  /* max-width: 500px; */
  height: 100vh;
  min-height: 300px;
  /* Gives the container visible height if empty */
  isolation: isolate;
  /* Replaces z-index hacks to ensure child layering */
  overflow: hidden;
  /* color: white; */


}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  /* Shorthand for top:0, left:0, right:0, bottom:0 */
  background-image: url('./img/auctionBg.jpg');
  /* Test with this URL first */
  background-size: cover;
  background-position: center;
  filter: blur(.4rem);
  transform: scale(1.1);
  z-index: -1;

  /* background: linear-gradient(90deg, #07aeea 0.000%, #2bf598 100.000%); */
}

.wrap {
  margin-top: 1rem;
  height: 100%;
  background-color: rgba(232, 229, 229, 0.5);
  /* 50% transparent black background */
  border-radius: .8rem;
}

header h1 {
  /* margin-left: auto; */
  /* width: 20%; */
  font-family: "BerkshireSwash-Regular", sans-serif;
  color: #122f78;
}

p.warn {

  color: rgb(191, 44, 7);
}

.logo {
  /* float: left; */
  padding: .5rem;
  border-radius: 50%;
}

header {

  /* https://grabient.com/_gJ0gHlgDgf7Cf7YgHyf5kf7zgCwgUuf2wfwV */

  background: conic-gradient(from 210deg, #c5bbb8 0.000deg, #c5bbb8 24.000deg, #b8b5b8 calc(24.000deg + 0.1deg), #b8b5b8 48.000deg, #a9afb7 calc(48.000deg + 0.1deg), #a9afb7 72.000deg, #9aa8b5 calc(72.000deg + 0.1deg), #9aa8b5 96.000deg, #8ba1b3 calc(96.000deg + 0.1deg), #8ba1b3 120.000deg, #7d98af calc(120.000deg + 0.1deg), #7d98af 144.000deg, #7090ab calc(144.000deg + 0.1deg), #7090ab 168.000deg, #6587a6 calc(168.000deg + 0.1deg), #6587a6 192.000deg, #5c7ea1 calc(192.000deg + 0.1deg), #5c7ea1 216.000deg, #55759b calc(216.000deg + 0.1deg), #55759b 240.000deg, #516c94 calc(240.000deg + 0.1deg), #516c94 264.000deg, #4f638d calc(264.000deg + 0.1deg), #4f638d 288.000deg, #505a85 calc(288.000deg + 0.1deg), #505a85 312.000deg, #54537d calc(312.000deg + 0.1deg), #54537d 336.000deg, #5b4b74 calc(336.000deg + 0.1deg) 360.000deg);





}

.nav {


  background-color: #6fa4e4;
}

.nav a {


  color: azure;
}
footer{

  background-color: #122f78;
}
.copy, .copy a{

  color: white;
}